.App {
    text-align: center;
    width: 50vw;
    height: 80vh;
    margin: 10vh auto;
}

.fullHeight {
    height: 100%;
}

.listItem {
    margin: 20px;
}

.listItem  p {
    margin: 0;
}

.highlightThis {
    background: yellow;
}

.listItemHeader {
    font-weight: bold;
}